
body{ 
    font-family: 'Dosis', sans-serif;
}

.page-header{ 
    margin-bottom: 10px; 
    width: 100%; 
}

.navbar{ 
    padding: 10px; 
    margin-bottom: 20px; 
}

.card{ 
    padding: 10px; 
}

footer{ 
    position: sticky;  
    left: 40%; 
    margin-top: 30px; 
    padding: 10px; 
    text-align: center; 
    color: white; 
}

/*still trying to get working */

@media screen and (max-width: 800){ 
    .about{ 
        margin: 20px; 
    }
    .container{ 
        width: 50%; 
    }
}
