body{ 
    margin-bottom: 20px; 
}
nav{ 
    margin-bottom: 50px; 
}

.card{ 
    margin-top: 30px; 
}

footer{ 
    margin-bottom: 5px; 
    margin-top: 10px; 
    padding-bottom: 5px; 
    padding-top: 10px; 
    text-align: center; 
}